#home-section {
  padding-top: 50px;
  height: 100vh;
  color: white;
}

#about-section {
  padding-top: 50px;
  height: 500px;
  color: #002D44;
  background-color: white;
}

#contact-section {
  padding-top: 50px;
  height: 600px;
  color: white;
  background-color: #002D44;
}

#footer-section {
  padding-top: 50px;
  height: 300px;
  color: white;
  background-color: black;
}

#app-section {
  padding-top: 50px;
  height: 100vh;
  color: #002D44;
  background-color: white;
}

.font1 {
  font-family: 'Montserrat', sans-serif;
}

.font2 {
  font-family: 'Patua One', cursive;
}

.navbar {
  background-color: black;
  color: #FEF2BD;
  font-size: 20px;
  padding-right: 45px;
  padding-left: 20px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: white !important;
  background-color: black !important;
}

.home-container {
  margin-top: 8%;
}

.app-container {
  margin-top: 10%;
}

.home-buttons {
  margin-top: 60px;
  text-align: center;
}

.banner {
  font-size: 120px;
}

.app-banner {
  font-size: 80px;
}

.title1 {
  font-size: 50px;
}

.title2 {
  font-size: 30px;
}

.description1 {
  font-size: 35px;
}

.description2 {
  font-size: 15px;
  padding: 20px;
}

.btn-default {
  width: 100%;
  border-width: 2px;
  border-color: #002D44;
  background-color: white;
  color: #002D44;
  font-size: 25px;
  transition: all 0.7s;
}

.btn-default:hover {
  border-width: 2px;
  border-color: #002D44;
  color: white;
  font-size: 22px;
  background-color: black;
}

.form-container {
  margin-top: 20px;
}

.form-control {
  margin: 10px;
}

.app-form {
  margin-top: 20px;
  margin-bottom: 50px;
}

.app-form-control {
  height: 60px;
  font-size: 25px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-submit {
  margin-top: 20px;
}