<!DOCTYPE html>
<html lang="en">
<head>
    <title>Analyser</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial scale=1">
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Montserrat:700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="font2" ng-app="review-analyser_controller" ng-controller="AnalyserController">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand font1" href="">Ask Twitter</a>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</nav>

<div id="app-section" class="container-fluid">
    <div class="app-container">
        <div class="container">
            <h1 class="row text-center app-banner font 1">What does Twitter think about...?</h1>

            <div class="row text-center description2">
                Nam sapien tellus, pretium venenatis arcu nec, varius interdum tellus. Donec tristique placerat mauris,
                quis auctor massa pretium nec. Nullam semper vehicula vestibulum. Quisque quis neque sodales, auctor
                orci eget, pretium dui. Duis fringilla vel nisi a egestas.
            </div>

            <form class="form-container app-form">
                <div class="row">
                    <div class="col-md-4 col-md-offset-3">
                        <input type="text" ng-model="keyword" name="keyword" class="form-control app-form-control"
                               placeholder="Your keyword *" autocomplete="off" required="required">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" ng-click="performKeywordAnalysis()" name="keyword-submit"
                                class="btn btn-default form-control app-form-control">Let's see
                        </button>
                    </div>
                </div>
            </form>

            <div class="text-center" ng-show="averagePolarity">
                <h3> Hurray! Your results are back! </h3>
                <h3> It seems that opinions about {{ keywordToBeShown }} on Twitter are {{ averagePolarity }}%
                    positive </h3>
                <div ng-show="mostUsedAdjectives">
                <h3> Some adjectives used in relation with {{ keywordToBeShown }} on Twitter are:</h3>
                <ul>
                    <p ng-repeat="(key, value) in mostUsedAdjectives">
                        {{ key }}, used {{ value }} time(s)
                    </p>
                </ul>
                </div>
                <h3> Why not do another search? Try Adam Levine or Miley Cyrus for example..</h3>
            </div>

            <div class="text-center" ng-show="loadingAnalysisResult">
                <h3>Loading results... This could take some time :( but here's a funny one for you....</h3>
                <h3>-What is the difference between a snowman and a snowwoman?</h3>
                <h3>-Snowballs.</h3>

            </div>

        </div>
    </div>
</div>

<script src="analyser/review-analyser_controller.js"></script>

</body>

</html>